body, input, button {
	font-family: 'Open Sans', sans-serif;
}
html {
	padding: 0;
}

#dataset-name { 
	float: left;
}
#completion-counter {
	float: right;
}

body {
	background: #333;
	padding: 0;
	padding-top: 50px;
	margin: 0;
	background: url('/images/skewed_print.png');
}
table {
	border-collapse: collapse;
	color: #222;
	font-size: 22px;
}
tbody.loading {	
	pointer-events: none;
}
tbody.loading tr td {
	opacity: 0.2;
}
tbody.initial-loading tr td {
	padding-top: 60px;
	padding-bottom: 60px;
}
tbody.initial-loading tr td:first-child {
	padding-right: 70px;
}
tr.completed-row {
	color: rgba(0, 0, 0, 0.3);
}

td {				
	padding: 25px 50px;
	line-height: 150%;
}
td:first-child {
	width: 5%;
	text-align: center;
	background: #e7e7e7;
}
tr:nth-child(odd) td:first-child {
	background: #eee;
}
td:last-child {
	width: 95%;
}
tr:nth-child(odd) {
	background: white;
}
tr:nth-child(even) {
	background: #f3f3f3;
}


tr.deleted-row td span, tr.deleted-row td.hover-delete:not(:hover) {
	opacity: 0.15;	
	text-decoration: line-through;

}
tr.deleted-row {
	background: #eee;
}
tr.deleted-row td:not(.hover-delete) span {
	pointer-events: none;
}


tr td.hover-delete:hover {
	cursor: pointer;	
	color: rgba(0, 0, 0, 0);
}
tr td.hover-delete:hover:after {
	display: flex;
	justify-content: center;
	align-items: center;
}
tr td.hover-delete {
	position: relative;
	user-select: none;
}
tr td.hover-delete:after {
	color: #db6d6d;
	font-family: FontAwesome;
	vertical-align: middle;
	display: none;
	content: "\f00d";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #ffd8d8;
	font-size: 48px;
	line-height: normal;

}

span.word {
	display: inline-block;
	padding: 0 4px;
	margin-bottom: 4px;
	box-sizing: border-box;
	cursor: text;
	position: relative;
}
span.word:focus {
	outline: none;
}

span.word.error {
	background: #FFCCCC;
	outline: 1px solid #dda4a4;
}

span.word.corrected {
	background: #CCFFCC;
	outline: 1px  solid #a9e8a9;
}

span.word.modified {
	background: #CCCCFF;
	outline: 1px  solid #adadea;
}

span.word.working, span.word:focus {
	background: #FFFF99;
	outline: 1px  solid #e0e070;
}

form {
	padding: 0;
	margin: 0;
	margin-top: 60px;
	margin-bottom: 80px;
}
form .container {
	max-width: 100%;
	width: 1280px;
	margin: 0 auto;
	display: block;
	box-shadow: 1px 1px 5px -3px #222;
}
::-webkit-input-placeholder {
	color: #222;
}

nav {
	z-index: 100000;
	background: #333;
	height: 40px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
nav .container {
	width: 1280px;
	max-width: 100%;
	color: white;
	margin: 0 auto;
	font-size: 20px;
	padding-top: 6px;
}
#form-submission {
	background: #333;
	padding: 10px 0;
	margin-top: 10px;
	margin-bottom: 0px;
	padding-bottom: 150px;
	box-shadow: 0 -1px 5px -3px #222;
}
button#submit {
	border: 2px solid #ddd;
	color: #ddd;
	margin: 0 auto;
	display: block;
	cursor: pointer;
	font-size: 30px;
	padding: 25px 80px;
	outline: none;
	margin-top: 60px;
	background: none;
	text-transform: uppercase;

}
button#submit:hover {
	background: rgba(255, 255, 255, 0.2);
}
button#submit:active {
	margin-top: 62px;
}
#output-container {
	background: white;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: -10px;
}
#output-container .container {
	width: 1280px;
	margin: 0 auto;
}
code {
	font-family: "Courier New", serif;
	display: block;
}

#dictionary-button {
	position: absolute;
	bottom: -30px;
	left: 80%;
	background: yellow;
	border-radius: 4px;
	z-index: 10000;
	color: #222;
	font-size: 12px;
	padding: 6px 6px;
	line-height: 100%;
	background: #FFFF99;
	border: 1px  solid #e0e070;
	text-align: left;
	cursor: pointer;
	user-select: none;
	width: 100px;
}
#dictionary-button .remove-from {
	display: none;
}
#dictionary-button .dictionary-info {
	display: none;
}
#dictionary-button.remove-from-dictionary {
	background: #CCCCFF;
	border: 1px  solid #adadea;
	width: 140px;
	bottom: -55px;
}
#dictionary-button.remove-from-dictionary .dictionary-info {
	display: block;
}
#dictionary-button.add-to-dictionary:hover {
	background: #ffffc4;
}
#dictionary-button.remove-from-dictionary:hover {
	background: #e2e2ff;
}
#dictionary-button.remove-from-dictionary .add-to {
	display: none;
}
#dictionary-button.remove-from-dictionary .remove-from {
	display: inline;
}
#dictionary-button .fa {
	display: inline;
}

#dictionary-button .dictionary-info {
	border-top: 1px solid #adadea;
	padding: 6px 0;
	margin-top: 6px;
	padding-bottom: 0;

}
#dictionary-button-container #dictionary-button {
	display: none;
}